
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --background-colour:  hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);
    --heading-color: hsl(0, 0%, 100%);
    --paragraph-color:hsla(0, 0%, 100%, 0.75);
    --stat-heading: hsla(0, 0%, 100%, 0.6);
}

body{
    font-family: "Inter", sans-serif;
    background-color: var(--background-colour);
    display: flex;
    justify-content: center;
    color: var(--heading-color);
    align-items: center;
    min-height: 100vh;
    padding: 2rem;

}

.stat_card{
    overflow: hidden;
    background-color: var(--card-background);
    border-radius: 1rem;
    max-width: 375px;
    display: flex;
    flex-direction: column;
}

.image{
    background-image: url(mobile.jpg.jpg);
    background-size:cover ;
    background-position: center;
    height: 250px;
    filter: brightness(0.5);

}

.content{
    text-align: center;
    padding: 2rem;
    gap: 2rem;
}

.purple{
    color: var(--soft-violet);
}

h1{
    margin-bottom: 20px;
}

.introduction{
    font-size: 13px;
    color: var(--paragraph-color);
    margin-bottom: 20px;


}
 
.data{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

h2{
    font-size: 16px;

}

.data p{
    font-size: 10px;
    color: var(--paragraph-color);
    text-transform: uppercase;
}

@media(min-width: 900px){
    .stat_card{
        flex-direction: row-reverse;
        max-width: 1450px;
        
    }

    .image{
        background-image: url(desktop.jpg.jpg);
        width: 50%;
        height: auto;
    
    }
    .content{
        text-align: left;
        padding: 2rem;
        width: 50%;
    }

    h1{
        font-size: 2rem;
    }

    .introduction{
        font-size: 13px; 
    }

    .data{
        flex-direction: row;
        justify-content: space-between;
    }

}



